<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
    <ion-input
      readonly="true"
      label="Senha: "
      value="{{senhasService.inputNovaSenha}}"
    ></ion-input>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.novaSenha('SP')" 
      color="primary" style="font-size: 18px"
      >Senha prioritária</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SE')" 
      color="medium" style="font-size: 18px"
      >Senha exame</ion-button>
      <ion-button expand="block" (click)="senhasService.novaSenha('SG')" 
      color="dark" style="font-size: 18px"
      >Senha geral</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
