<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Totem de Senhas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-text-center" color="success" *ngIf="ultimaSenhaGerada.senha">
    <ion-card-content class="ion-text-center" >
      <ion-icon class="mensagem-icon" slot="start" [name]="ultimaSenhaGerada.icon" color="danger" size="large"></ion-icon>
      <h2>Senha {{ ultimaSenhaGerada.tipo }} gerada:</h2> 
      <h1>{{ ultimaSenhaGerada.senha }}.</h1>
        <h2>Aguarde na recepção,
          sua senha será chamada no Painel</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-button (click)="gerarSenha('SP')" color="primary">Gerar Senha SP</ion-button>
      <ion-button (click)="gerarSenha('SE')" color="medium">Gerar Senha SE</ion-button>
      <ion-button (click)="gerarSenha('SG')" color="dark">Gerar Senha SG</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
