<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <ion-title size="large" style="font-size: medium;">Senhas chamadas</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="font-size: medium;">Senhas chamadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button color="primary" expand="block" (click)="chamarSenha()">Chamar Próxima Senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label class="senha-chamada">Últimas senhas chamadas:</ion-label>
    </ion-card-header>

    <ion-card-header>
      <ion-label>Geral:</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let senha of senhasService.senhasAtendidasSG.slice(-2)" style="font-size: 20px">
        {{ senha }}
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-label>Prioritária:</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let senha of senhasService.senhasAtendidasSP.slice(-2)" style="font-size: 20px">
        {{ senha }}
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-label>Exame:</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let senha of senhasService.senhasAtendidasSE.slice(-2)" style="font-size: 20px;">
        {{ senha }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>