<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Painel de Senhas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chamar Senhas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Senha Atual</ion-card-title>
      <ion-card-title *ngIf="senhasService.ultimasSenhasChamadas.length > 0">
        <h1>{{ senhasService.ultimasSenhasChamadas[0].senha }}</h1>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Diriga-se ao Guichê 1
    </ion-card-content>
  </ion-card>
  
  

  <ion-card>
    <ion-card-content>
      <ion-button (click)="chamarProximaSenha()" expand="block">Chamar Próxima Senha</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="senhasService.ultimasSenhasChamadas.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-list-header>Últimas senhas chamadas:</ion-list-header>
        <ion-item *ngFor="let senha of senhasService.ultimasSenhasChamadas">
          <ion-icon name="{{senha.icon}}" slot="start" color="{{senha.color}}"></ion-icon>
          {{senha.senha}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
