<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atendimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-title> Última chamada</ion-title>
    </ion-card-header>
    <ion-card-content>

    <ion-list>
        <ion-item> {{senhasService.ultimaSenhaChamada}} </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Últimas chamadas (5)</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let senha of senhasService.ultimasSenhas">{{ senha }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  <ion-card>

    <ion-card-content id="content_atender">
      <ion-button id="button_atender" color="success" (click)="senhasService.atendeSenha()"> <ion-icon id="icones" size="large" name="desktop-outline" ></ion-icon> <b>Atender</b> </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

