<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedéx
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokedéx</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pokemon of this.pokeApiService.pokemonPokedex">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{pokemon.name | uppercase}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="pokemon.front_default" alt="Pokemon Image">
            <p>Vitórias: <span color="success">10</span></p>
            <p>Derrotas: <span color="danger">6</span></p>
            <p>Empates: <span color="warning">4</span></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
