<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokédex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokédex</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let pokemon of capturedPokemon">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon.name }}</ion-card-title>
          </ion-card-header>
          <ion-img [src]="pokemon.front_default"></ion-img>
          <ion-card-content>
            <p color="success">Vitórias: {{ pokemon.wins }}</p>
            <p color="danger">Derrotas: {{ pokemon.losses }}</p>
            <p color="warning">Empates: {{ pokemon.draws }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
