#btnSP { background-color: #ff0000; } /* Vermelho */
#btnSE { background-color: #00ff00; } /* Verde */
#btnSG { background-color: #0000ff; } /* Azul */
#calledTickets { margin-top: 20px; }
.ticket { margin-bottom: 10px; }
