<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atendente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atendente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block"
      (click)="chamarProximaSenha()" style="font-size: 18px"
      >Chamar senha</ion-button>
    </ion-card-content>
  </ion-card>

<ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="senha chamada" >Últimas senhas chamadas:</ion-list-header>
        <ion-item *ngFor="let senha of senhasService.senhasChamadas.slice(-5)"
      style="font-size: 25px"
      >
          {{ senha }}
        </ion-item> 
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> 
