.amarelo {
  color: yellow;
}

.vermelho {
  color: red;
}

.verde {
  color: green;
}

.strong-italic {
  font-weight: bold;
  font-style: italic;
}

.strong-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}
