<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar Pokemon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-input
        [(ngModel)]="areaBuscarPokemon"
        [counter]="true"
        fill="solid"
        helperText="Área para buscar por Pokemon"
        label-placement="floating"
        label="CEP"
        maxlength="8"
        placeholder="22555888"
        type="text"
      ></ion-input>
      <ion-button
        expand="block"
        fill="solid"
        (click)="buscarPokemon()"
        (click) = "buscarPokemonApi()"
      >
        Buscar por Pokemon
        <ion-icon name="search" slot="end"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>{{
          this.areaBusca.logradouro +
          this.areaBusca.bairro +
          this.areaBusca.localidade +
          this.areaBusca.uf}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title> {{this.pokemon1.name | uppercase}}</ion-card-title>
      <ion-img alt= "Foto do pokemon"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{this.pokemon1.id}}.svg">
      </ion-img>
    </ion-card-header>
    <ion-card-content color="white">
      <ion-list class="lista">
      <ion-list id="status" color="white">
        <ion-item class="itens" color="white">
          <ion-label class="conteudo">Abilities: {{this.pokemon1.abilities.length}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="itens" color="white">
          <ion-label class="conteudo" >Height: {{this.pokemon1.height}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="itens" color="white">
          <ion-label class="conteudo" >Weight: {{this.pokemon1.weight}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
