#icones{
  padding: 10px;
}

#content_atender{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#button_atender{
  display: flex;
  width: 20rem;
}

ion-title{
  font-size: 1.5rem;
  font-weight: bold;
}



